.container {
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

  .contact-info {
    text-align: center;
    margin-top: 2%;
  }

  textarea {
    height: 160px;
    resize: none;
    max-width: 100%;
  }

  label {
    font-weight: 600;
    margin-bottom: 0;
  }

  .btn {
    margin: 10px 0;
    font-weight: 600;
    padding: 6px 40px;
  }
}
