.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-superior {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}

.texto-superior h1 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: 800;
}

.texto-error {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.texto-error h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: 800;
}

.texto-error p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .texto-superior h1 {
      font-size: 1em;
  }

  .texto-error h2 {
      font-size: 1.2em;
  }

  .texto-error p {
      font-size: 1em;
  }
}
