<div class="card">
    <div class="card-body mt-3">
            <div class="d-flex align-items-center flex-column">
                <div class="image-container animated-container">
                    <img
                      *ngFor="let image of images; let i = index"
                      [src]="image"
                      [hidden]="i !== currentImageIndex"
                      alt="waiting area animation"
                    />
                    <span class="top"></span>
                    <span class="right"></span>
                    <span class="bottom"></span>
                    <span class="left"></span>
                </div>
                <p class="mt-3 cursor align-self-start" [id]="'typewriter-' + 1">|</p>
            </div>
    </div>
</div>