.card-title {
  font-size: 26px;
}

.card {
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}

#drop-area {
  height: 200px;
  cursor: pointer;

  .bi {
    font-size: 66px;
  }

  p {
    font-weight: 600;
    color: #000;
  }

  ul,
  li {
    list-style: none;
    text-decoration: none;
  }
}
