<app-breadcrumb [title]="'Política de Privacidad'" [items]="['Terminos']" [active_item]="'Terminos'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card p-3">

        <p class="h5 txt-primary">Última actualización: 29 de junio de 2024</p>
      
        <p class="h5 txt-primary">Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo la ley lo protege.</p>
      
        <p class="h5 txt-primary">Utilizamos sus datos personales para proporcionar y mejorar el Servicio. Al utilizar el Servicio, usted acepta la recopilación y el uso de información de acuerdo con esta Política de Privacidad.</p>
      
        <h2>Interpretación y Definiciones</h2>
        <h3>Interpretación</h3>
        <p class="h5 txt-primary">Las palabras cuya letra inicial está en mayúscula tienen significados definidos en las siguientes condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en singular o en plural.</p>
      
        <h3>Definiciones</h3>
        <p class="h5 txt-primary">Para los propósitos de esta Política de Privacidad:</p>
        <ul>
          <li><strong>Cuenta</strong>: significa una cuenta única creada para que usted acceda a nuestro Servicio o partes de nuestro Servicio.</li>
          <li><strong>Afiliado</strong>: significa una entidad que controla, es controlada por o está bajo control común con una parte, donde "control" significa la propiedad del 50% o más de las acciones, participación en el patrimonio u otros valores con derecho a voto para la elección de directores u otra autoridad de gestión.</li>
          <li><strong>Empresa</strong>: (referido como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a Kahop, cr 65 a # 69 - 44.</li>
          <li><strong>Cookies</strong>: son pequeños archivos que se colocan en su computadora, dispositivo móvil o cualquier otro dispositivo por un sitio web, que contienen los detalles de su historial de navegación en ese sitio web entre sus muchos usos.</li>
          <li><strong>País</strong>: se refiere a: Colombia.</li>
          <li><strong>Dispositivo</strong>: significa cualquier dispositivo que pueda acceder al Servicio, como una computadora, un teléfono móvil o una tableta digital.</li>
          <li><strong>Datos Personales</strong>: es cualquier información que se relacione con una persona identificada o identificable.</li>
          <li><strong>Servicio</strong>: se refiere al sitio web de Kahop, accesible desde <a href="https://www.kahop.com/">https://www.kahop.com/</a>.</li>
          <li><strong>Proveedor de Servicios</strong>: significa cualquier persona natural o jurídica que procese los datos en nombre de la Empresa. Se refiere a empresas de terceros o individuos empleados por la Empresa para facilitar el Servicio, para proporcionar el Servicio en nombre de la Empresa, para realizar servicios relacionados con el Servicio o para ayudar a la Empresa a analizar cómo se utiliza el Servicio.</li>
          <li><strong>Datos de Uso</strong>: se refiere a los datos recopilados automáticamente, ya sea generados por el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita a la página).</li>
          <li><strong>Redes Sociales de Terceros</strong>: se refiere a cualquier sitio web o cualquier sitio web de red social a través del cual un usuario puede iniciar sesión o crear una cuenta para usar el Servicio.</li>
          <li><strong>Usted</strong>: significa la persona que accede o utiliza el Servicio, o la empresa u otra entidad legal en nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</li>
        </ul>
      
        <h2>Recopilación y Uso de sus Datos Personales</h2>
        <h3>Tipos de Datos Recopilados</h3>
        <h5>Datos Personales</h5>
        <p class="h5 txt-primary">Al usar nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que puede ser utilizada para contactarlo o identificarlo. La información de identificación personal puede incluir, pero no se limita a:</p>
        <ul>
          <li>Dirección de correo electrónico.</li>
          <li>Nombre y apellido.</li>
          <li>Número de teléfono.</li>
          <li>Dirección, Estado, Provincia, Código Postal, Ciudad.</li>
          <li>Datos de Uso.</li>
        </ul>
      
        <h5>Datos de Uso</h5>
        <p class="h5 txt-primary">Los Datos de Uso se recopilan automáticamente al utilizar el Servicio.</p>
        <p class="h5 txt-primary">Los Datos de Uso pueden incluir información como la dirección del Protocolo de Internet de su dispositivo (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visita, la hora y fecha de su visita, el tiempo que pasa en esas páginas, identificadores únicos de dispositivo y otros datos de diagnóstico.</p>
        <p class="h5 txt-primary">Cuando accede al Servicio a través de un dispositivo móvil, podemos recopilar cierta información automáticamente, incluida, pero no limitada a, el tipo de dispositivo móvil que usa, su ID único de dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de navegador de Internet móvil que utiliza, identificadores únicos de dispositivo y otros datos de diagnóstico.</p>
        <p class="h5 txt-primary">También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando accede al Servicio a través de un dispositivo móvil.</p>
      
        <h5>Información de Redes Sociales de Terceros</h5>
        <p class="h5 txt-primary">La Empresa le permite crear una cuenta e iniciar sesión para usar el Servicio a través de las siguientes Redes Sociales de Terceros:</p>
        <ul>
          <li>Google.</li>
          <li>Facebook.</li>
          <li>Instagram.</li>
          <li>Twitter.</li>
          <li>LinkedIn.</li>
        </ul>
        <p class="h5 txt-primary">Si decide registrarse a través de o de otra manera otorgarnos acceso a un Servicio de Redes Sociales de Terceros, podemos recopilar Datos Personales que ya están asociados con la cuenta de su Servicio de Redes Sociales de Terceros, como su nombre, su dirección de correo electrónico, sus actividades o su lista de contactos asociada con esa cuenta.</p>
        <p class="h5 txt-primary">También puede tener la opción de compartir información adicional con la Empresa a través de la cuenta de su Servicio de Redes Sociales de Terceros. Si elige proporcionar dicha información y Datos Personales, durante el registro o de otra manera, está dando permiso a la Empresa para usar, compartir y almacenar de manera consistente con esta Política de Privacidad.</p>
      
        <h3>Tecnologías de Seguimiento y Cookies</h3>
        <p class="h5 txt-primary">Usamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y analizar nuestro Servicio. Las tecnologías que utilizamos pueden incluir:</p>
        <ul>
          <li><strong>Cookies o Cookies del Navegador:</strong> Una cookie es un pequeño archivo colocado en su Dispositivo. Puede instruir a su navegador para que rechace todas las Cookies o para que indique cuándo se está enviando una Cookie. Sin embargo, si no acepta Cookies, es posible que no pueda usar algunas partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador para que rechace Cookies, nuestro Servicio puede usar Cookies.</li>
          <li><strong>Balizas Web:</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos pueden contener pequeños archivos electrónicos conocidos como balizas web (también denominadas gifs claros, etiquetas de píxel y gifs de un solo píxel) que permiten a la Empresa, por ejemplo, contar los usuarios que han visitado esas páginas o abierto un correo electrónico y para otras estadísticas relacionadas con el sitio web (por ejemplo, registrar la popularidad de una sección determinada y verificar la integridad del sistema y del servidor).</li>
        </ul>
        <p class="h5 txt-primary">Las Cookies pueden ser "Persistentes" o "De Sesión". Las Cookies Persistentes permanecen en su computadora personal o dispositivo móvil cuando se desconecta, mientras que las Cookies de Sesión se eliminan tan pronto como cierra su navegador web. Puede obtener más información sobre las cookies en el artículo de términos de servicio de TermsFeed.</p>
        <p class="h5 txt-primary">Utilizamos ambas Cookies de Sesión y Persistentes para los siguientes propósitos:</p>
        <ul>
          <li><strong>Cookies Necesarias / Esenciales</strong>
            <ul>
              <li>Tipo: Cookies de Sesión.</li>
              <li>Administradas por: Nosotros.</li>
              <li>Propósito: Estas Cookies son esenciales para brindarle servicios disponibles a través del sitio web y para permitirle usar algunas de sus características. Ayudan a autenticar a los usuarios y prevenir el uso fraudulento de las cuentas de usuario. Sin estas Cookies, los servicios que ha solicitado no se pueden proporcionar, y solo usamos estas Cookies para proporcionarle esos servicios.</li>
            </ul>
          </li>
          <li><strong>Cookies de Política / Aviso de Aceptación de Cookies</strong>
            <ul>
              <li>Tipo: Cookies Persistentes.</li>
              <li>Administradas por: Nosotros.</li>
              <li>Propósito: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el sitio web.</li>
            </ul>
          </li>
          <li><strong>Cookies de Funcionalidad</strong>
            <ul>
              <li>Tipo: Cookies Persistentes.</li>
              <li>Administradas por: Nosotros.</li>
              <li>Propósito: Estas Cookies nos permiten recordar las elecciones que realiza cuando utiliza el sitio web, como recordar sus datos de inicio de sesión o preferencia de idioma. El propósito de estas Cookies es brindarle una experiencia más personal y evitar que tenga que volver a ingresar sus preferencias cada vez que use el sitio web.</li>
            </ul>
          </li>
        </ul>
        <p class="h5 txt-primary">Para obtener más información sobre las cookies que usamos y sus opciones con respecto a las cookies, visite nuestra Política de Cookies o la sección de Cookies de nuestra Política de Privacidad.</p>
      
        <h2>Uso de sus Datos Personales</h2>
        <p class="h5 txt-primary">La Empresa puede utilizar Datos Personales para los siguientes propósitos:</p>
        <ul>
          <li><strong>Para proporcionar y mantener nuestro Servicio:</strong> incluido el monitoreo del uso de nuestro Servicio.</li>
          <li><strong>Para gestionar su Cuenta:</strong> para gestionar su registro como usuario del Servicio. Los Datos Personales que proporcione pueden darle acceso a diferentes funcionalidades del Servicio que están disponibles para usted como usuario registrado.</li>
          <li><strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y ejecución del contrato de compra de los productos, artículos o servicios que ha comprado o de cualquier otro contrato con nosotros a través del Servicio.</li>
          <li><strong>Para contactarlo:</strong> Para contactarlo por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes de comunicación electrónica, como las notificaciones push de una aplicación móvil con respecto a actualizaciones o comunicaciones informativas relacionadas con las funcionalidades, productos o servicios contratados, incluidas las actualizaciones de seguridad, cuando sea necesario o razonable para su implementación.</li>
          <li><strong>Para proporcionarle noticias, ofertas especiales e información general:</strong> sobre otros bienes, servicios y eventos que ofrecemos que son similares a los que ya ha comprado o preguntado, a menos que haya optado por no recibir dicha información.</li>
          <li><strong>Para gestionar sus solicitudes:</strong> Para atender y gestionar sus solicitudes hacia nosotros.</li>
          <li><strong>Para transferencias comerciales:</strong> Podemos usar su información para evaluar o llevar a cabo una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia de algunos o todos nuestros activos, ya sea como empresa en marcha o como parte de bancarrota, liquidación o procedimiento similar, en el que los Datos Personales que tenemos sobre los usuarios de nuestro Servicio se encuentren entre los activos transferidos.</li>
          <li><strong>Para otros fines:</strong> Podemos usar su información para otros fines, como el análisis de datos, identificar tendencias de uso, determinar la efectividad de nuestras campañas promocionales y para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</li>
        </ul>
      
        <h3>Compartir sus Datos Personales</h3>
        <p class="h5 txt-primary">Podemos compartir su información personal en las siguientes situaciones:</p>
        <ul>
          <li><strong>Con Proveedores de Servicios:</strong> Podemos compartir su información personal con Proveedores de Servicios para monitorear y analizar el uso de nuestro Servicio, para contactarlo.</li>
          <li><strong>Para transferencias comerciales:</strong> Podemos compartir o transferir su información personal en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Empresa, financiamiento o adquisición de la totalidad o una parte de nuestro negocio a otra empresa.</li>
          <li><strong>Con afiliados:</strong> Podemos compartir su información con nuestros afiliados, en cuyo caso exigiremos a esos afiliados que respeten esta Política de Privacidad. Los afiliados incluyen nuestra empresa matriz y cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas que controlamos o que están bajo control común con nosotros.</li>
          <li><strong>Con socios comerciales:</strong> Podemos compartir su información con nuestros socios comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
          <li><strong>Con otros usuarios:</strong> cuando comparte información personal o interactúa de otra manera en las áreas públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede distribuirse públicamente fuera. Si interactúa con otros usuarios o se registra a través de un Servicio de Redes Sociales de Terceros, sus contactos en el Servicio de Redes Sociales de Terceros pueden ver su nombre, perfil, fotos y descripción de su actividad. De igual manera, otros usuarios podrán ver descripciones de su actividad, comunicarse con usted y ver su perfil.</li>
          <li><strong>Con su consentimiento:</strong> Podemos divulgar su información personal para cualquier otro propósito con su consentimiento.</li>
        </ul>
      
        <h2>Retención de sus Datos Personales</h2>
        <p class="h5 txt-primary">La Empresa retendrá sus Datos Personales solo durante el tiempo que sea necesario para los fines establecidos en esta Política de Privacidad. Retendremos y usaremos sus Datos Personales en la medida necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si estamos obligados a retener sus datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y políticas legales.</p>
        <p class="h5 txt-primary">La Empresa también retendrá los Datos de Uso para fines de análisis interno. Los Datos de Uso generalmente se retienen por un período de tiempo más corto, excepto cuando estos datos se utilizan para fortalecer la seguridad o para mejorar la funcionalidad de nuestro Servicio, o estamos legalmente obligados a retener estos datos por períodos de tiempo más largos.</p>
      
        <h2>Transferencia de sus Datos Personales</h2>
        <p class="h5 txt-primary">Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Empresa y en cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Esto significa que esta información puede transferirse a - y mantenerse en - computadoras ubicadas fuera de su estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de su jurisdicción.</p>
        <p class="h5 txt-primary">Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa su acuerdo con esa transferencia.</p>
        <p class="h5 txt-primary">La Empresa tomará todas las medidas razonablemente necesarias para garantizar que sus datos sean tratados de manera segura y de acuerdo con esta Política de Privacidad y no se realizará ninguna transferencia de sus Datos Personales a una organización o un país a menos que existan controles adecuados, incluidos la seguridad de sus datos y otra información personal.</p>
      
        <h2>Eliminación de sus Datos Personales</h2>
        <p class="h5 txt-primary">Tiene el derecho de eliminar o solicitar que le ayudemos a eliminar los Datos Personales que hemos recopilado sobre usted.</p>
        <p class="h5 txt-primary">Nuestro Servicio puede darle la capacidad de eliminar cierta información sobre usted desde dentro del Servicio.</p>
        <p class="h5 txt-primary">Puede actualizar, enmendar o eliminar su información en cualquier momento iniciando sesión en su cuenta, si tiene una, y visitando la sección de configuración de la cuenta que le permite gestionar su información personal. También puede contactarnos para solicitar acceso a, corregir o eliminar cualquier información personal que nos haya proporcionado.</p>
        <p class="h5 txt-primary">Sin embargo, tenga en cuenta que es posible que necesitemos retener cierta información cuando tengamos una obligación legal o una base legal para hacerlo.</p>
      
        <h2>Divulgación de sus Datos Personales</h2>
        <h3>Transacciones Comerciales</h3>
        <p class="h5 txt-primary">Si la Empresa participa en una fusión, adquisición o venta de activos, sus Datos Personales pueden ser transferidos. Proporcionaremos un aviso antes de que sus Datos Personales sean transferidos y estén sujetos a una Política de Privacidad diferente.</p>
      
        <h3>Cumplimiento de la Ley</h3>
        <p class="h5 txt-primary">En determinadas circunstancias, la Empresa puede estar obligada a divulgar sus Datos Personales si así lo requiere la ley o en respuesta a solicitudes válidas de autoridades públicas (por ejemplo, un tribunal o una agencia gubernamental).</p>
      
        <h3>Otros Requisitos Legales</h3>
        <p class="h5 txt-primary">La Empresa puede divulgar sus Datos Personales de buena fe cuando considere que esta acción es necesaria para:</p>
        <ul>
          <li>Cumplir con una obligación legal.</li>
          <li>Proteger y defender los derechos o propiedad de la Empresa.</li>
          <li>Prevenir o investigar posibles infracciones en relación con el Servicio.</li>
          <li>Proteger la seguridad personal de los usuarios del Servicio o del público.</li>
          <li>Protegerse contra la responsabilidad legal.</li>
        </ul>
      
        <h2>Seguridad de sus Datos Personales</h2>
        <p class="h5 txt-primary">La seguridad de sus Datos Personales es importante para nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger sus Datos Personales, no podemos garantizar su seguridad absoluta.</p>
      
        <h2>Privacidad de los Niños</h2>
        <p class="h5 txt-primary">Nuestro Servicio no se dirige a nadie menor de 13 años. No recopilamos deliberadamente información de identificación personal de nadie menor de 13 años. Si usted es un padre o tutor y sabe que su hijo nos ha proporcionado Datos Personales, por favor contáctenos. Si nos damos cuenta de que hemos recopilado Datos Personales de cualquier persona menor de 13 años sin verificación del consentimiento de los padres, tomamos medidas para eliminar esa información de nuestros servidores.</p>
        <p class="h5 txt-primary">Si necesitamos confiar en el consentimiento como base legal para procesar su información y su país requiere el consentimiento de un padre, podemos requerir el consentimiento de su padre antes de recopilar y usar esa información.</p>
      
        <h2>Enlaces a Otros Sitios Web</h2>
        <p class="h5 txt-primary">Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por nosotros. Si hace clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise la Política de Privacidad de cada sitio que visite.</p>
        <p class="h5 txt-primary">No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
      
        <h2>Cambios a esta Política de Privacidad</h2>
        <p class="h5 txt-primary">Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.</p>
        <p class="h5 txt-primary">Le informaremos por correo electrónico y/o un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigor y actualizaremos la fecha de "Última actualización" en la parte superior de esta Política de Privacidad.</p>
        <p class="h5 txt-primary">Se le recomienda revisar esta Política de Privacidad periódicamente para ver si hay cambios. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.</p>
      
        <h2>Contáctenos</h2>
        <p class="h5 txt-primary">Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
        <ul>
          <li>Por correo electrónico: <a href="mailto:entrevistadorinteligente@gmail.com">entrevistadorinteligente&#64;gmail.com</a></li>
        </ul>
    
      </div>
    </div>
  </div>
</div>