.step {
  font-size: 24px;
  margin-right: 20px;
}

.completed {
  color: rgb(0, 255, 60);
}

.progress-bar {
  background-color: rgb(0, 149, 255);
  font-weight: 800;
  font-size: 14px;
  animation-name: progress-bar-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes progress-bar-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
