<div class="container">
  <div class="step-content">
    <ng-container [ngSwitch]="currentStep">
      <p-toast />
      <p-steps 
        [model]="steps"
        [readonly]="true"
        [activeIndex]="currentStep" 
        > 
      </p-steps>
      <app-paso-2 *ngSwitchCase="0" (completed)="onStepCompleted()"></app-paso-2>
      <app-paso-3 *ngSwitchCase="1" (completed)="onStepCompleted()" [idEntrevista]="idEntrevista"></app-paso-3>
      <app-paso-4 *ngSwitchCase="2" (completed)="onStepCompleted()" [idEntrevista]="idEntrevista"></app-paso-4>
    </ng-container>
  </div>  
</div> 