.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5%;
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.step {
  flex: 1;
  text-align: center;
}

.step-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-number {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  /*background-color: #007bff;*/
  color: white;
  margin-bottom: 10px;
}

.step-title {
  font-weight: bold;
}

.step-content {
  width: 100%;
  padding: 20px;
  /*border: 1px solid #007bff;*/
  border-radius: 10px;
  /*background-color: #f8f9fa;*/
}
