.navbar {
  margin-bottom: 60px;
}

.navbar-brand {
  color: rgb(255, 255, 255);
}

.login-button {
  background-color: rgb(0, 60, 255);
  color: white;
  text-decoration: none;
  padding: 6px 18px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.3s ease-in;
}

.login-button:hover {
  background-color: rgba(62, 207, 255, 0.748);
}

.offcanvas-title {
  color: rgb(0, 60, 255);
}

.navbar-toggler {
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link,
.nav-link.active {
  color: rgb(255, 255, 255)!important;
  position: relative;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.user-name {
  color: white;
  margin-top: 8px;
  align-items: center;
  text-decoration: none;
}

@media (min-width: 990px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(0, 60, 255);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
