<ng-container id="carrusel">
  <app-carrusel></app-carrusel>
</ng-container>

<section id="preguntas">
  <div class="table-responsive">
    <div class="container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center fw-bold">Pregunta</th>
          </tr>
        </thead>
        <tbody class="container">
          @for (pregunta of preguntas; track pregunta.pregunta) {
          <tr>
            <td class="text-center">{{ pregunta.pregunta }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>

<ng-container id="contacto">
  <app-contacto></app-contacto>
</ng-container>
