/* HEADER */
#image-section {
  position: relative;
  min-height: 800px;
  width: 100%;
  background-image: url('../../../../assets/img/header-1.jpg');
  background-size: cover;
  background-position: center;
}

#content-text {
  position: absolute;
  top: 56%;
  left: 6%;
  transform: translateY(-50%);
  font-family: 'Arial', sans-serif;
  color: white !important;
}

#content-text h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 6rem 0;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.9);
  text-transform: capitalize;
}

#content-text p {
  font-size: 22px;
  color: rgb(235, 235, 235) !important;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.9);
}

small {
  font-size: 22px;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.9);
  font-weight: 600;
}

/* TARJETAS */
.title-card {
  text-transform: capitalize;
}

.card-body {
  height: 110px;
  background-color: transparent !important;

  p {
    font-size: 18px;
  }

}

/* FORMULARIO */
.container {
  margin-bottom: 60px;
}

.contact{
  padding: 4%;
  height: 400px;
}

.title {
  margin-top: 70px !important;
  margin-bottom: 20px;
  color: #ff0000;
}

.col-md-3{
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-image: url('../../../../assets/img/startup.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  label {
    color: #000000 !important;
  }
}

.contact-info{
  margin-top:10%;
}

.contact-info img{
  margin-bottom: 15%;
}

.contact-info h3 {
  margin-bottom: 10%;
  color: #ff0000;
  margin-top: 40px;
  font-size: 44px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-weight: 900;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.contact-info h4 {
  margin-bottom: 10%;
  color: #ffffff;
  font-size: 28px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label{
  color: #fff;
  font-weight:600;
}

/* DRAG & DROP */
#drop-area {
  height: 200px;
  cursor: pointer;

  .bi {
    font-size: 66px;
  }

  p {
    font-weight: 600;
  }

  ul,
  li {
    list-style: none;
    text-decoration: none;
  }
}

@media (max-width: 900px) {
  .col-md-3 {
    visibility: hidden;
  }
}

@media (max-width: 660px) {

  #content-text {
    top: 50%;
    padding-top: 20px;
  }

  #content-text h1 {
    margin-right: 16px;
    font-size: 2rem;
  }

  #content-text p {
    margin-right: 16px;
  }

  small {
    font-size: 20px;
    margin: 800px 16px 0 0;
  }
}
