<!-- HEADER -->
<ng-container>
  <header class="container-fluid">
    <div class="row">
      <div id="image-section" class="col-md-12 img-fluid">
        <div id="content-text">
          <h1>Prepárate para brillar en el mundo de la tecnología</h1>
          <div>
            <p>Conviértete en el candidato que las empresas buscan.</p>
            <p>Deja que nuestra IA te guíe hacia el éxito en tu próxima entrevista.</p>
          </div>
          <p class="fw-bold">¡Completa el formulario y comienza tu transformación hoy mismo!</p>
        </div>
      </div>
    </div>
  </header>
</ng-container>

<!-- TARJETAS DE GUIA -->
<ng-container>
  <div class="container tarjetas">
    <div class="row mb-5">
      <h1 class="title-card">Ten en cuenta lo siguiente:</h1>
      <div class="col-sm-3 pt-5 zoom" [ngClass]="{'visible': isCardVisible}" *ngFor="let card of cards">
        <div class="card" style="background-color: transparent;">
          <img [src]="card.image" class="card-img-top" alt="Robot">
          <div class="card-body" style="height: 100px;">
            <p class="card-text fw-semibold text-center">{{ card.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<app-loader></app-loader>
