<div class="container">
  <h1 class="title text-center fw-bold my-8 mt-5 ">{{ message }}</h1>
  <div class="row text-center">
    <p class="text-center">Ingresa la información correspondiente de la vacante a la cual deseas postularte.</p>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9 bg-dark">
        <h3 class="text-center text-white fw-bold mb-1">Datos de la oferta</h3>
        <div class="contact-form">
          <div class="form-group">
            <label class="control-label col-sm-2 pt-1 mb-1" for="empresa">Empresa: <span class="text-danger">*</span></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="empresa" placeholder="Nombre de la empresa" name="empresa" formControlName="empresa">
              <small class="text-danger" *ngIf="form.get('empresa').invalid && form.get('empresa').touched">Este campo es obligatorio</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 pt-1 mb-1" for="perfil">Perfil: <span class="text-danger">*</span></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="perfil" placeholder="Escribe el Perfil" name="perfil" formControlName="perfil">
              <small class="text-danger" *ngIf="form.get('perfil').invalid && form.get('perfil').touched">Este campo es obligatorio</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 pt-1 mb-1" for="seniority">Seniority: <span class="text-danger">*</span></label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="seniority" placeholder="Escribe el seniority requerido" name="seniority" formControlName="seniority">
              <small class="text-danger" *ngIf="form.get('seniority').invalid && form.get('seniority').touched">Este campo es obligatorio</small>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 pt-1 mb-1" for="pais">País: <span class="text-danger">*</span></label>
            <div class="col-sm-12">
              <input class="form-control" rows="5" id="pais" placeholder="Ingresa el país de la oferta" formControlName="pais">
              <small class="text-danger" *ngIf="form.get('pais').invalid && form.get('pais').touched">Este campo es obligatorio</small>
            </div>
          </div>
        </div>
        <div class="container mt-2">
          <div class="card">
            <div class="card-body">
              <label for="fileElem" id="drop-area"
                class="border rounded d-flex justify-content-center align-items-center bg-gray"
                (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                <div class="text-center">
                  <i class="bi bi-cloud-arrow-up-fill text-primary"></i>
                  <p class="mt-2">Arrastra aquí o haz clic para seleccionar archivos PDF.</p>
                </div>
                <input type="file" id="fileElem" (change)="onFileChange($event)" accept=".pdf" class="d-none">
              </label>
              <div *ngIf="selectedFiles.length > 0" class="lista mt-3">
                <p>Archivos seleccionados:</p>
                <ul>
                  <li *ngFor="let file of selectedFiles">
                    <i class="fas fa-file"></i>
                    {{ file.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-12 pt-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<app-loader></app-loader>
