/* FORMULARIO */
.container {
  margin-bottom: 60px;
}

.contact{
  padding: 4%;
  height: 400px;
}

.contact-info{
  margin-top:10%;
}

.contact-info img{
  margin-bottom: 15%;
}

.contact-info h3 {
  margin-bottom: 10%;
  color: #ff0000;
  margin-top: 40px;
  font-size: 44px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-weight: 900;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.contact-info h4 {
  margin-bottom: 10%;
  color: #ffffff;
  font-size: 28px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.contact-form label{
  color: #fff;
  font-weight:600;
}

.card, .card-header, .card-body {
  border: none;
  background-color: transparent;
}

.background {
  box-shadow: 9px 3em 4em 9px rgba(0, 0, 0, 0.1), 
  0 0 13px 2px rgb(255, 255, 255);
}

.background-blur {
  padding: 2rem 3rem; 
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(85 83 83 / 81%); 
  // z-index: 9999; 
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #271f36 29%,
    #164ec7 67%,
    #740646 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  // text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: escribiendo, textclip;
  animation-duration: 4s steps(40), 2s;
  animation-direction:normal, linear;
  animation-iteration-count: 1, infinite;
  display: inline-block;
  font-size: 90px;
}

h3 {
  display: block;
  white-space: nowrap;
  width: 30ch;
  animation: 
    escribiendo 4s steps(40);        
  overflow: hidden;
  color: #fff;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.cursor{
  animation: 0.6s parpadeo-cursor infinite;
  color: #fff;
}

@keyframes escribiendo {
  from {
    width: 0;
  }
}

@keyframes parpadeo-cursor {
  50% {
    opacity: 0;
  }
}



