<ng-container>
  <div class="container">
    <div class="row background">
      <div class="col-md-12 background-blur">
        <div class="card ">
          <div class="card-header header">
            <h3 class="text-center"> Datos de la oferta</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="empresa">Empresa <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" placeholder="Empresa" formControlName="empresa">
                  <small class="text-danger" *ngIf="form.get('empresa').invalid && form.get('empresa').touched"><b>Este
                    campo es obligatorio</b>
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="perfil">Perfil <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" placeholder="Perfil" formControlName="perfil">
                  <small class="text-danger" *ngIf="form.get('perfil').invalid && form.get('perfil').touched"><b>Este
                    campo es obligatorio</b>
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="seniority">Seniority <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" placeholder="Seniority" formControlName="seniority">
                  <small class="text-danger" *ngIf="form.get('seniority').invalid && form.get('seniority').touched"><b>Este
                    campo es obligatorio</b>
                  </small>
                </div>
                <div class="form-group col-md-6">
                  <label for="pais">Seleccione país <span class="text-danger">*</span></label>
                  <select id="inputState" class="form-control" formControlName="pais">
                    <option selected>-- Seleccione --</option>
                    <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
                  </select>
                  <small class="text-danger" *ngIf="form.get('pais').invalid && form.get('pais').touched"><b>Este campo
                    es obligatorio</b>
                  </small>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="descripcionVacante">Descripción de la vacante <span class="text-danger">*</span></label>
                    <textarea class="form-control" id="descripcionVacante" rows="9" formControlName="descripcionVacante"></textarea>                    
                    <small class="text-danger"
                      *ngIf="form.get('descripcionVacante').invalid && form.get('descripcionVacante').touched"><b>Este
                        campo es obligatorio</b>
                    </small>
                </div>
              </div> 
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-12 mt-2 p-2 pt-3">
                  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
                </div>
              </div>       
            </form>
          </div>
        </div>
      </div>
    </div>
      <!-- <ngx-loading
      [show]="loading"
      [config]="{ animationType: ngxLoadingAnimationTypes.cubeGrid,
                  primaryColour: '#ffffff',
                  backdropBorderRadius: '3px', 
                   }"
      >
    </ngx-loading> -->

    <!-- <div class="loader-container" *ngIf="loading">
      <div class="contenedor">
        <h1 class="display-3">Se están generando las preguntas...<span class="cursor">&#160;</span></h1>
      </div> -->
      <!-- <div class="col-md-3">
        <img src="../../../../../assets/img/chatbot.png" alt="chatbot" srcset="">
      </div>
      <div class="col-md-9">
        <h1 class="display-4 p">Generando preguntas</h1>
      </div> -->
    <!-- </div> -->
    <div class="loader-container" *ngIf="loading">
      <div class="row prueba">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
          <img src="../../../../../assets/img/chatbot.png" width="200" alt="chatbot" srcset="">
          <h3 class="animate-charcter display-3">Generando preguntas<span class="cursor"><b>|</b></span></h3>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>  
    
</ng-container>
