/* FORMULARIO */
.container {
  margin-bottom: 60px;
}

.contact{
  padding: 4%;
  height: 400px;
}

.col-md-3{
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-image: url('../../../../../assets/img/startup.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info{
  margin-top:10%;
}

.contact-info img{
  margin-bottom: 15%;
}

.contact-info h3 {
  margin-bottom: 10%;
  color: #ff0000;
  margin-top: 40px;
  font-size: 44px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-weight: 900;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.contact-info h4 {
  margin-bottom: 10%;
  color: #ffffff;
  font-size: 28px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label{
  color: #fff;
  font-weight:600;
}
