<div class="col chat-right-aside">
   <div class="chat">
     <div class="media chat-header clearfix"><img class="rounded-circle" src="assets/images/user/8.jpg" alt="">
       <div class="media-body">
         <div class="about">
           <div class="name">Kori Thomas  <span class="font-primary f-12">Typing...</span></div>
           <div class="status digits">Last Seen 3:55 PM</div>
         </div>
       </div>
       <ul class="list-inline float-start float-sm-end chat-menu-icons">
         <li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-search"></i></a></li>
         <li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-clip"></i></a></li>
         <li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-headphone-alt"></i></a></li>
         <li class="list-inline-item"><a href="javascript:void(0)"><i class="icon-video-camera"></i></a></li>
         <li class="list-inline-item toogle-bar" (click)="openMenu()"><a href="javascript:void(0)"><i class="icon-menu"></i></a></li>
       </ul>
     </div>
     <div class="chat-history chat-msg-box custom-scrollbar">
       <ul>
         <li>
           <div class="message my-message"><img class="rounded-circle float-start chat-user-img img-30" src="assets/images/user/3.png" alt="">
             <div class="message-data text-end"><span class="message-data-time">10:12 am</span></div>                                                            Are we meeting today? Project has been already finished and I have results to show you.
           </div>
         </li>
         <li class="clearfix">
           <div class="message other-message pull-right"><img class="rounded-circle float-end chat-user-img img-30" src="assets/images/user/12.png" alt="">
             <div class="message-data"><span class="message-data-time">10:14 am</span></div>                                                            Well I am not sure. The rest of the team is not here yet. Maybe in an hour or so?
           </div>
         </li>
         <li class="clearfix">
           <div class="message other-message pull-right"><img class="rounded-circle float-end chat-user-img img-30" src="assets/images/user/12.png" alt="">
             <div class="message-data"><span class="message-data-time">10:14 am</span></div>                                                            Well I am not sure. The rest of the team
           </div>
         </li>
         <li>
           <div class="message my-message mb-0"><img class="rounded-circle float-start chat-user-img img-30" src="assets/images/user/3.png" alt="">
             <div class="message-data text-end"><span class="message-data-time">10:20 am</span></div>                                                            Actually everything was fine. I'm very excited to show this to our team.
           </div>
         </li>
       </ul>
     </div>
     <div class="chat-message clearfix">
       <div class="row">
         <div class="col-xl-12 d-flex">
           <div class="smiley-box bg-primary">
             <div class="picker"><img src="assets/images/smiley.png" alt=""></div>
           </div>
           <div class="input-group text-box">
             <input class="form-control input-txt-bx" id="message-to-send" type="text" name="message-to-send" placeholder="Type a message......">
             <button class="btn btn-primary input-group-text" type="button">SEND</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="col chat-menu" [class.show]="show">
  <app-chat-menu></app-chat-menu>
 </div>