.loader {
  background-color: rgba(255, 255, 255, 0.987);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cubes {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 160px;
  height: 160px;
  margin-top: -80px;
  margin-left: -80px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.cube {
  position: absolute;
  padding: 2px;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  animation: cube 2s cubic-bezier(.64,.21,.42,.85) infinite;
}

@keyframes cube {
  0% {
    opacity: 0;
    transform: translateZ(100px);
  }

  40%, 60% {
    opacity: 1;
    transform: translateZ(10px);
  }

  100% {
    opacity: 0;
    transform: translateZ(-100px);
  }
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.side:nth-child(1) {
  transform: rotateX(-180deg) translateZ(10px);
  background-color: #1e3f57;
}

.side:nth-child(2) {
  transform: rotateY(-90deg) translateZ(10px);
  background-color: #6bb2cd;
}

.side:nth-child(3) {
  transform: rotateY(90deg) translateZ(10px);
  background-color: #6bb2cd;
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(10px);
  background-color: #3c617d;
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(10px);
  background-color: #3c617d;
}

.side:nth-child(6) {
  transform: translateZ(10px);
  background-color: #1e3f57;
}

.cube:nth-child(8n+1) {
  left: 20px;
}

.cube:nth-child(8n+2) {
  left: 40px;
}

.cube:nth-child(8n+3) {
  left: 60px;
}

.cube:nth-child(8n+4) {
  left: 80px;
}

.cube:nth-child(8n+5) {
  left: 100px;
}

.cube:nth-child(8n+6) {
  left: 120px;
}

.cube:nth-child(8n+7) {
  left: 140px;
}
