/* TARJETAS */

.title {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  font-weight: 600;
}

h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  font-size: 26px;
}

.container_card {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  perspective: 900px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.card_father {
  display: flexbox;
  margin: 30px;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  transition: 0.8s ease;
}

.card_father:hover .card {
  transform: rotateY(180deg);
}

.card {
  width: 260px;
  height: 380px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 900ms;
  border-radius: 20px;
}

.card_front {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_front,
.card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.card_back h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.card_back {
  transform: rotateY(180deg);
  background: radial-gradient(
    circle,
    rgba(13, 17, 19, 0.978) 15%,
    rgba(11, 18, 21, 0.978) 50%,
    rgba(18, 24, 25, 0.978) 85%
  );
  border-radius: 20px;
}

.body_card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(60px);
}

.body_card_front h1 {
  font-size: 28px;
  padding: 0 14px;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 2px solid rgb(0, 0, 0);
}

.body_card_back {
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

.body_card_back p {
  margin-top: 20px;
  font-size: 18px;
}

h5 {
  font-weight: 400;
}

.btn {
  margin-top: 8px;
  padding: 10px 20px;
  background-color: rgb(24, 109, 255);
  border-radius: 8px;
  transition: all 0.4s ease;
  a {
    color: white;
    text-decoration: none;
  }
  &.btn-success{
    background-color: #22c55e!important;
  }
}

.btn:hover {
  background-color: rgb(19, 80, 186);
}

/* TABLA DE PREGUNTAS */

tr, th, thead, tbody, td {
  background-color: transparent !important;
}

.alert {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border: 1px solid #bee5eb;
}

.error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}


/* ABOUT US */

#about {
  margin: 20px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;


  img {
    height: 300px;
    object-fit: cover;
  }

}

.preguntas_preview {
  display: block;
  margin: auto;
}

.carga_preguntas{
  display: flex;
  justify-content: center;
}

/* MEDIA QUERYS */

/* RESPONSIVE DE TARJETAS */
@media (max-width: 936px) {
  .card_father {
    margin-left: 26%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .preguntas_preview {
      width: 95vw;
  }
}

/* Tabletas y teléfonos en modo horizontal */
@media (min-width: 768px) and (max-width: 991.98px) {
  .preguntas_preview {
    width: 90vw;
  }
}

/* Tabletas grandes y pantallas pequeñas de laptops */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .preguntas_preview {
    width: 70vw;
  }
}

/* Laptops grandes y pantallas de escritorio */
@media (min-width: 1200px) {
  .preguntas_preview {
    width: 60vw;
  }
}
