<section id="carrusel">
  <div id="carouselExampleDark" class="carousel slide carousel-fade mx-auto" data-bs-ride="carousel"
    data-bs-wrap="true" data-bs-animation="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active my-auto"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="assets/img/istockphoto.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption">
          <h5>Vinculación</h5>
          <p>Unidos por un propósito común, avanzamos hacia el éxito. Nuestras manos sostienen un CV, simbolizando nuestra colaboración y compromiso.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/img/istockphoto-1.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption">
          <h5>Evaluación</h5>
          <p>En un momento sereno se examinan habilidades y experiencias con calma y confianza, buscando descubrir el potencial oculto que puede llevar al éxito.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/img/istockphoto-2.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption">
          <h5>Diálogo</h5>
          <p>La comunicación fluye libremente, construyendo entendimiento y confianza. Durante la entrevista, establecemos tu aumento de confianza.</p>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="5000">
        <img src="assets/img/istockphoto-3.jpg" class="d-block w-100 img-fluid" alt="...">
        <div class="carousel-caption">
          <h5>Éxito</h5>
          <p> Con una sonrisa, celebramos un logro compartido. Estrechando manos, marcamos el inicio de una colaboración exitosa y prometedora.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
