#carrusel {
  height: 40%;

  .carousel {
    width: calc(100vw - 17px);
    transition: 0.2s ease-out;

    .carousel-inner {
      height: 100%;

      .carousel-item {
        width: 100%;
        transition: transform 2s ease, opacity 0.5s ease-out;

        .carousel-caption {
          text-align: center;
          background: rgb(0, 0, 0);
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(112, 112, 112, 0.083) 25%,
            rgba(43, 58, 83, 0.724) 50%,
            rgba(112, 112, 112, 0.083)  75%,
            rgba(255, 255, 255, 0) 100%
          );
        }

        .carousel-caption > h5 {
          color: white;
          font-size: 28px;
        }

        img {
          object-fit: cover;
          background-position: center;
        }
      }
    }
  }
}

#preguntas {
  margin: 30px 0;
}
