.container {
  margin-top: 100px !important;
  margin-bottom: 60px;
}

.image {
  object-fit: cover !important;
}

.card .card-header {
  font-weight: 500;
}

.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

label {
  font-weight: 500;
  font-size: 16px;
}

#drop-area {
  height: 200px;
  cursor: pointer;

  .bi {
    font-size: 66px;
  }

  p {
    font-weight: 600;
  }

  ul,
  li {
    list-style: none;
    text-decoration: none;
  }
}

.contact{
  padding: 4%;
  height: 400px;
}

.title {
  margin-top: 70px !important;
  margin-bottom: 20px;
  color: #ff0000;
}

.col-md-3{
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-image: url('../../../../assets/img/startup.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info{
  margin-top:10%;
}

.contact-info img{
  margin-bottom: 15%;
}

.contact-info h3 {
  margin-bottom: 10%;
  color: #ff0000;
  margin-top: 40px;
  font-size: 44px;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-weight: 900;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  font-weight: 400;
}

.contact-info h4 {
  margin-bottom: 10%;
  color: #ffffff;
  font-size: 28px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label{
  color: #fff;
  font-weight:600;
}

@media (max-width: 900px) {
  .col-md-3 {
    visibility: hidden;
  }
}
