#drop-area {
    height: 200px;
    cursor: pointer;

    .bi {
        font-size: 66px;
    }

    p {
        font-weight: 600;
    }

    ul,
    li {
        list-style: none;
        text-decoration: none;
    }
}

.container {
    background-color: #212529 !important;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;

    .contact-info {
        text-align: center;
        color: white;
        margin-top: 8%;
    }

    label {
        color: white;
        margin-bottom: 0;
    }

    .btn {
        margin: 10px 0;
        font-weight: 600;
        padding: 6px 40px;
    }
}