textarea {
  width: 100%;
}

.p-card {
  padding: 2%;
}

h3, .text-pregunta {
  padding-bottom: 1rem;
}

.btn-success, .btn_end_process
{
  float: right;
  border-radius: 0.5rem;
}

.btn_chevron, .btn_microphone {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.btn_microphone {
  background-color: transparent;
  color: black;
  border: none;
}

.div_btn_end_process{
  margin-bottom: 1rem;
}

.btn_end_process {
  border: none;
  font-size: small;
}