
<app-breadcrumb [title]="'Zona Entrevista'" [items]="['Zona Entrevista']" [active_item]="'Zona Entrevista'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        
          <!-- PASO A PASO -->
    <ng-container>
      <div class="container">
          <app-multipasos class="my-4" [currentStep]="currentStep" [idEntrevista]="idEntrevista"></app-multipasos>
        </div>
      </ng-container>
      
      </div>
    </div>
  </div>
</div>

    
    