.ribbon-clip {
  height: auto;
  width: 100%;
}

.card-response {
  transition: max-height 0.5s ease-out;
}
.card-response {
  box-shadow: none;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  max-height: 0;
}
.content-visible {
  max-height: 500px; /* Ajusta esto según la altura máxima esperada */
}

.content-hidden {
  max-height: 0;
  padding: 0 20px;
}

.boton-entrevista {
  padding: 12px 15px;
  span{
    letter-spacing: 1px;
    font-family: Roboto;
    text-transform: capitalize;
  }
  i{
    margin-left: 10px;
    vertical-align: bottom;
    float: none;
    font-size: 1.5rem;
    transition: all .3s ease;
  }
}
.ribbon-wrapper{
  padding-top: 0px!important;
}

.ribbon-custom {
  padding: 0 20px;
  height: 30px;
  position: relative;
  line-height: 30px;
  clear: left;
  top: 12px;
  left: 0px;
  color: #fff;
  z-index: 2;
}

.ribbon-custom-clip {
  left: -45px;
  top: -8px;
  height: auto;
  width: 103%;
}

.ribbon-primary.ribbon-custom-clip:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #3736e0;
  border-right-color: #3736e0;
}
.ribbon-custom-clip:before {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border: 7px solid rgba(0, 0, 0, 0);
  border-top-color: #2c323f;
  border-right-color: #2c323f;
}

.default-according .card .btn-link {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9)!important;
}
@media (max-width: 1180px) {
  .ribbon-custom-clip {
    width: 106%!important;
  } 
}

@media (min-width: 992px) {
  .boton-entrevista{
    margin-right: 10px; /* Puedes ajustar el valor según el espacio que necesites */
  }
}

@media only screen and (max-width: 991.98px){
  .ribbon-custom-clip {
    left: -35px!important;
    top: -8px!important;
    width: 105%!important;
  }  
}

@media (max-width: 600px) {
  .ribbon-custom  {
    line-height: 1.5; /* Reduce el espacio entre líneas */
    padding-top: 5px; /* Reduce el espacio superior */
    padding-bottom: 5px; /* Reduce el espacio inferior */
  }

  .ribbon-custom-clip {
    width: 110%!important;
  } 
}

.feedback-container{
  position: relative;
  top: 100%;
}



// @keyframes slideInOut {
//   0% {
//     transform: translate3d(0px, 0px, 0px);
//   }
//   50% {
//     transform: translate3d(25px, 0px, 0px);
//   }
//   100% {
//     transform: translate3d(0px, 0px, 0px);
//   }
// }

// .carousel-animate {
//   animation: slideInOut 0.7s ease-in-out forwards;
// }


