<!-- footer start-->
<div class="container-fluid">
   <div class="row">
     <div class="col-md-12 footer-copyright text-center">
        <!-- wr5ite a row wjit 2  values 1 is for Copyright the nexone is for Terminos y condiciones de uso - Política de privacidad the second one have to be a href linf -->
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">Copyright {{ today | date:'y'}} © Entrevistador inteligente  </p>
          </div>
          <div class="col-md-12">
            <p><a href="/es/entrevistas/terminos">Terminos de servicio</a> | <a href="/es/entrevistas/terminos">Políticas de privacidad</a></p>
          </div>
        </div> 
      </div> 
   </div>
 </div>