<footer class="text-center text-lg-start text-white footer">
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-2 font-weight-bold text-center">
            Entrevistador Inteligente
          </h6>
          <div class="image-container">
            <img class="mx-auto" src="assets/img/pregunta.png" alt="Logo">
          </div>
          <p class="mt-2 text-center">
            En Entrevistador Inteligente, te preparamos para entrevistas reales con apoyo de inteligencia artificial.
          </p>
          <p class="text-center fw-bold">¡Empieza hoy mismo!</p>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-center">Servicios</h6>
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-1 mt-0">
            <li class="nav-item">
              <a class="nav-link mx-lg-1 fw-bold" routerLink="#">Entrevistas simuladas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-1 fw-bold" routerLink="#">Entrevistas simuladas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-1 fw-bold" routerLink="#">Entrevistas simuladas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-1 fw-bold" routerLink="#">Entrevistas simuladas</a>
            </li>
          </ul>
        </div>
        <hr class="w-100 clearfix d-md-none" />
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold text-center">Contactanos</h6>
          <p><i class="fas fa-home mr-3"></i> República de Colombia</p>
          <p><i class="fas fa-envelope mr-3"></i> {{email}}</p>
          <p><i class="fas fa-phone mr-3"></i> +57 3201111111</p>
          <p><i class="fas fa-print mr-3"></i> +57 3202222222</p>
        </div>
        <div class="col-md-2 col-lg-2 col-md-2 mx-auto mt-3 mb-3 text-center">
          <h6 class="text-uppercase mb-4 font-weight-bold text-center">Nuestras Redes</h6>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i
              class="fab fa-facebook-f"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i
              class="fab fa-twitter"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i
              class="fab fa-google"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i
              class="fab fa-instagram"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i
              class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-primary btn-floating m-1" style="background-color: #181818" href="#!" role="button"><i
              class="fab fa-github"></i></a>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright
    <a class="text-white" style="text-decoration: none;">Entrevistador inteligente</a>
  </div>
</footer>
