.question-container {
    padding: 1em;
  }
  
  .question {
    font-size: 1.25em;
    margin: 1em 0;
  }
  
  .question-actions {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
  }
  