.container-card {
  display: flex;
  flex-direction: column;
}

.question-container {
  background-color: #1e1e2f; /* Dark background */
  border: none;
  border-radius: 10px;
  color: white; /* Light text */
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(120, 113, 113, 0.5);
}

.question-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.question {
  background-color: #2a2a40; /* Slightly lighter background for the question area */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  border: 1px solid #333;
  background-color: #2a2a40; /* Matching the question area */
  color: #fff; /* Light text */
}

p-progressBar .p-progressbar {
  background-color: #333345;
  height: 10px;
  border-radius: 5px;
}

p-progressBar .p-progressbar-value {
  background-color: #0096d2; /* Or any other color you prefer */
}

.question-actions button {
  margin-top: 10px;
  border: none;
  background-color: #4d4d69; /* Dark background for buttons */
  color: white; /* Light text */
  margin-right: 10px;
  border-radius: 20px;
}

.question-actions button:disabled {
  background-color: #3d3d5c; /* Slightly different background for disabled state */
}

.question-actions button:last-child {
  float: right; /* Align the submit button to the right */
}

/* Add some padding to the paginator if you're keeping it */
p-paginator .p-paginator {
  padding: 20px;
}

p-paginator .p-paginator-pages .p-paginator-page {
  background-color: #2a2a40;
  border-color: #1e1e2f;
}

p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #0096d2;
  border-color: #0096d2;
}
