<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-auto mx-2 fw-bold" (click)="home()"><img src="assets/img/Logo-EI.png" alt="Logo">   Entrevistador</a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-white " tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-dark">
        <h5 class="offcanvas-title fw-bold text-white" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
          style="color: white;"></button>
      </div>

      <div class="offcanvas-body bg-dark">
        <div class="action">
          <div class="perfil mx-3" #avatar (click)="avatarMenu()">
            <img
              src="assets/img/perfil.jpg"
              alt="perfil">
          </div>
          <div class="avatar" [ngClass]="{'active': isAvatarMenuActive}">
            <h2 *ngIf="isLogged">{{message}}</h2>
            <h2 *ngIf="!isLogged">¡Hola!</h2>
            <hr>
            <div *ngIf="isLogged" class="nav-link align-items-center mx-2">
              <p class="user-name fw-bold">
                {{username}}
              </p>
            </div>
            <ul>
              <li *ngIf="isLogged"><i class="fas fa-user"></i><a (click)="perfil()">Mi Perfil</a></li>
              <li *ngIf="!isLogged"><i class="fas fa-sign-in-alt"></i><a (click)="login()">Login</a></li>
              <li><i class="fas fa-cog"></i><a>Configuración</a></li>
              <li><i class="fas fa-question"></i><a>Ayuda</a></li>
              <li><i class="far" [ngClass]="{'fa-sun': darkModeService.darkModeEnabled,
              'fa-moon': !darkModeService.darkModeEnabled}" (click)="toggleDarkMode()"></i>
                <a (click)="toggleDarkMode()">
                  {{ darkModeService.darkModeEnabled ? 'Modo Claro' : 'Modo Oscuro' }}
                </a>
              </li>
              <li *ngIf="isLogged"><i class="fas fa-sign-out-alt"></i><a (click)="logout()">Salir</a></li>
            </ul>
          </div>
          <hr *ngIf="isLogged">
          <app-alert class="alert-right" *ngIf="isLogged"></app-alert>
        </div>
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-1 mx-auto">
          <li class="nav-item active">
            <a class="nav-link fw-bold" [ngClass]="{'active': activo === 'home' || activo === 'inicio'}"
              (click)="setActiveLink('home')" routerLink="home" routerLinkActive="router-link-active">Inicio</a>
          </li>
          <li *ngIf="isLogged" class="nav-item">
            <a class="nav-link mx-lg-2 fw-bold" [ngClass]="{'active': activo === 'zona-entrevista'}"
              (click)="setActiveLink('zona-entrevista')" routerLink="zona-entrevista">Entrevista</a>
          </li>
          <li *ngIf="isLogged" class="nav-item">
            <a class="nav-link mx-lg-1 fw-bold" [ngClass]="{'active': activo === 'cv'}" (click)="setActiveLink('cv')"
              routerLink="cv">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 fw-bold" [ngClass]="{'active': activo === 'quienes'}"
              (click)="setActiveLink('quienes')" routerLink="quienes-somos">Quiénes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 fw-bold" [ngClass]="{'active': activo === 'contactenos'}"
              (click)="setActiveLink('contactenos')" routerLink="contactenos">Contáctanos</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="admin">
              <i class="fas fa-toolbox"></i> Admin
            </a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="create">
              <i class="fas fa-plus-circle"></i> Nuevo
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
