<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand me-auto mx-2 fw-bold" routerLink="">Entrevistador</a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end text-white " tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header bg-dark">
        <h5 class="offcanvas-title fw-bold text-white" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close text-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body bg-dark">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-1 mx-auto">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" [ngClass]="{'active': activo === 'home'}"
              (click)="setActiveLink('home')" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 fw-bold" [ngClass]="{'active': activo === 'entrevista'}"
              (click)="setActiveLink('entrevista')" routerLink="#">Entrevista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-1 fw-bold" [ngClass]="{'active': activo === 'cv'}" (click)="setActiveLink('cv')"
              routerLink="#">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 fw-bold" [ngClass]="{'active': activo === 'quienes'}"
              (click)="setActiveLink('quienes')" routerLink="#">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-lg-2 fw-bold" [ngClass]="{'active': activo === 'contactenos'}"
              (click)="setActiveLink('contactenos')" routerLink="">Contactanos</a>
          </li>
        </ul>
        <a *ngIf="!isLogged" class="btn btn-outline-primary rounded-pill fw-bold mx-auto" (click)="login()">
          <i class="fas fa-user px-1"></i>
          Login
        </a>
        <ul class="navbar-nav ml-auto">
          <!-- <li *ngIf="isLogged" class="nav-link align-items-center mx-2">
            <a class="user-name fw-bold" routerLink="">
              {{username}}
            </a>
          </li> -->
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="">
              <i class="fas fa-toolbox"></i> Admin
            </a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link" routerLink="/create">
              <i class="fas fa-plus-circle"></i> Nuevo
            </a>
          </li>
        </ul>
        <a *ngIf="isLogged" class="btn btn-outline-danger rounded-pill fw-bold mx-auto" (click)="logout()">
          <i class="fas fa-power-off px-1"></i>
          Salir
        </a>
      </div>
    </div>
  </div>
</nav>
