/* MENU */

.navbar {
  margin-bottom: 66px;
  max-width: 100vw;
  position: absolute;
  background-color: rgb(6, 11, 22) !important;

  .navbar-brand {
    color: rgb(255, 255, 255);

    img {
      height: 40px;
    }
  }

  .navbar-brand:hover .login-button {
    background-color: rgb(0, 200, 255);
    color: white;
    text-decoration: none;
    padding: 6px 18px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease-in;
  }

  a {
    cursor: pointer;
  }

  .offcanvas {
    background-color: rgb(6, 11, 22) !important;
  }

  .offcanvas-header {
    background-color: rgb(6, 11, 22) !important;
  }

  .offcanvas-body {
    background-color: rgb(6, 11, 22) !important;
  }

  .offcanvas-title {
    color: rgb(255, 255, 255);

  }

  .navbar-toggler {
    border: none;
    font-size: 16px;
    font-weight: 600;
  }

  .navbar-toggler:focus,
  .btn-close:focus {
    box-shadow: none;
    outline: none;
  }

  .nav-link,
  .nav-link.active {
    color: rgb(255, 255, 255) !important;
    position: relative;
    text-align: center;
    transition: 0.3s ease-in-out;
  }

  .user-name {
    color: white;
    margin-top: 8px;
    align-items: center;
    text-decoration: none;
  }
}

/* AVATAR */

.action {
  position: absolute;
  top: 13px;
  right: 30px;
  z-index: 10000;
}

.action .perfil {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .perfil img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .avatar {
  position: absolute;
  top: 110px;
  right: -10px;
  padding: 10px 20px;
  background: rgb(9, 18, 36);
  width: 280px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  opacity: 0;
}

.action .avatar.active {
  top: 62px;
  visibility: visible;
  opacity: 1;
}

.action .avatar::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 34px;
  width: 20px;
  height: 20px;
  background: rgb(9, 18, 36);
  transform: rotate(45deg);
}

.action .avatar h2 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  font-weight: 500;
  line-height: 1.2em;
  color: rgb(0, 200, 255);
}

.action .avatar h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 16px 0;
  font-weight: 500;
  line-height: 1.2em;
  color: rgb(255, 255, 255);
}

.action .avatar ul li {
  list-style: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.action .avatar ul li i {
  max-width: 20px;
  margin-right: 20px;
  opacity: 0.5;
  transition: 0.5s ease;
  object-fit: cover;
}

.action .avatar ul li:hover i {
  opacity: 1;
}

.action .avatar ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(173, 173, 173);
  font-weight: 500;
  transition: 0.5s ease;
}

.action .avatar ul li:hover a {
  color: rgb(0, 200, 255);
}

.custom-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.alert-right {
  position: absolute;
  top: -8px;
  right: 0;
  margin-right: 70px;
  display: flex;
}

.alert-right:hover {
  border: none;
}

@media (min-width: 990px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(0, 200, 255);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }

  .btn-close {
    color: white;
  }
}
