<div class="notification-container">
  <p-button icon="pi pi-bell" [text]="true" [plain]="true" severity="warning" badge="{{ badgeCount }}"
    badgeClass="p-badge-danger" (click)="showDialog()"></p-button>
</div>

<p-dialog header="Header" [(visible)]="visible" [modal]="true"
[breakpoints]="{ '960px': '70vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center">
      <span class="font-bold white-space-nowrap">Notificaciones</span>
    </div>
  </ng-template>
  <p class="m-0">
    @for (notification of notifications; track notification.id) {
      <div *ngIf="notification.url === 'PREGUNTAS'">
        <p>Tu entrevista esta lista!</p>
        <p-button label="Ir a la entrevista" (onClick)="goToInterview(notification)"></p-button>
      </div>
      <div *ngIf="notification.url !== 'PREGUNTAS'">
        {{ notification.message }}
      </div>
    } @empty {
    No hay notificaciones pendientes
    }
  </p>
</p-dialog>
