<div class="notification-container">
  <p-button icon="pi pi-bell" [text]="true" [plain]="true" severity="warning" badge="{{ badgeCount }}"
    badgeClass="p-badge-danger" (click)="showDialog()"></p-button>
</div>

<p-dialog header="Notificaciones" [(visible)]="visible" [modal]="true"
  [breakpoints]="{ '960px': '70vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center">
      <span class="font-bold white-space-nowrap">Notificaciones</span>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <ng-container *ngIf="notifications.length; else noNotifications">
      <div *ngFor="let notification of notifications; trackBy: trackById">
        <div *ngIf="notification.url === 'PG'">
          <p>Tu entrevista está lista!</p>
          <p-button label="Ir a la entrevista" (onClick)="goToNotification(notification)"></p-button>
        </div>
        <div *ngIf="notification.url === 'FG'">
          <p>Tu feedback está listo!</p>
          <p-button label="Ir a feedback" (onClick)="goToNotification(notification)"></p-button>
        </div>
        <div *ngIf="notification.url !== 'PG' && notification.url !== 'FG'">
          {{ notification.message }}
        </div>
      </div>
    </ng-container>
    <ng-template #noNotifications>
      <p>No hay notificaciones pendientes</p>
    </ng-template>
  </ng-template>
</p-dialog>
