<h1 class="title">Muestra de ejemplos de Entrevistas</h1>
@if (stateEntrevista !== StateEnum.show) {
  <div class="container text-center mb-3">
    <p-dropdown
      *ngIf="perfiles$ | async as perfiles"
      [(ngModel)]="selectedPerfil"
      optionLabel="perfilEmpresa"
      [showClear]="true"
      placeholder="Seleccionar Perfiles"
      [options]="(perfiles$ | async)!"
    ></p-dropdown>
    <button
      type="button"
      class="btn mb-2 ms-3"
      [class.disabled]="!selectedPerfil"
      [attr.disabled]="!selectedPerfil ? true : null"
      (click)="onCargarPreguntas($event)"
    >
      <span class="fw-bold" style="color: white">Empezar</span>
    </button>
  </div>
}
<div class="preguntas_preview">
  @switch (iniciandoMuestra) {
    @case (stateEntrevista === StateEnum.load) {
      @if (stateEntrevista === StateEnum.load) {
        <div class="carga_preguntas">
          <p-progressSpinner ariaLabel="loading text-center" />
        </div>
      }
    }
    @case (stateEntrevista === StateEnum.show) {
      <p-tabView class="preguntas_content">
        <p-tabPanel
          *ngFor="let pregunta of preguntasMuestra; let i = index"
          [header]="'Pregunta ' + (i + 1)"
        >
          <p>
            <strong style="color: #4b5563 !important">{{
              pregunta.pregunta
            }}</strong>
          </p>
          <p style="color: #4b5563 !important">Respuesta:</p>
          <textarea
            rows="5"
            cols="30"
            class="form-control mb-2"
            pInputTextarea
            placeholder="Respuesta"
            [(ngModel)]="preguntasMuestra[i].respuesta"
          >
          </textarea>
          <div class="alert info" role="alert">
            <div></div>
            <strong>Feedback: </strong>{{ pregunta.feedback }}
          </div>
        </p-tabPanel>
      </p-tabView>
      <button
        type="button"
        class="btn mb-2 ms-3"
        label="Enviar"
        (click)="submitAnswers()"
      >
        <span class="fw-bold" style="color: white">Enviar</span>
      </button>

      <p-dialog
        [(visible)]="display"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        modal="true"
        [style]="{ width: '50vw' }"
      >
        <ng-template pTemplate="header">
          ¡Prueba el Servicio Gratis!
        </ng-template>
        <div>
          <img
            src="assets/img/Logo-EI.png"
            style="display: block; margin: auto; width: 35%"
            alt="Logo"
          />
        </div>
        <div class="mt-2 d-flex justify-content-center">
          <span class="fw-bold"
            >Inicia sesión para obtener una entrevista y feedback
            personalizado</span
          >
        </div>

        <ng-template pTemplate="footer">
          <button
            type="button"
            class="btn btn-success mb-2 ms-3"
            label="Enviar"
            (click)="login()"
          >
            <span class="fw-bold" style="color: white">
              <i
                class="bi bi-box-arrow-in-right mr-2"
                style="font-size: 1.2rem"
              ></i
              >Iniciar Sesión</span
            >
          </button>
        </ng-template>
      </p-dialog>
    }
    @case (stateEntrevista === StateEnum.error) {
      <div class="alert error" role="alert">
        <div></div>
        <strong
          >No se encontro información en este perfil, intentelo más tarde
        </strong>
      </div>
    }
    @default {}
  }
</div>
