
.preguntas_preview {
    display: block;
    margin: auto;
  }
  
  .carga_preguntas{
    display: flex;
    justify-content: center;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .preguntas_preview {
        width: 95vw;
    }
  }
  
  /* Tabletas y teléfonos en modo horizontal */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .preguntas_preview {
      width: 90vw;
    }
  }
  
  /* Tabletas grandes y pantallas pequeñas de laptops */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .preguntas_preview {
      width: 70vw;
    }
  }
  
  /* Laptops grandes y pantallas de escritorio */
  @media (min-width: 1200px) {
    .preguntas_preview {
      width: 60vw;
    }
  }
  