/* IMPORTACION DE FUENTES DE TEXTO */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* IMPORTACION DE LOS ESTILOS DE PRIMENG Y BOOTSTRAP */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* VARIABLES CSS */
:root {
  --color-bg-light: #ffffff;
  --color-bg-dark: radial-gradient(circle, rgba(7, 12, 22, 0.959) 0%, rgba(7, 9, 11, 0.98) 40%, rgba(4, 7, 13, 0.974) 60%);
  --color-text-light: #000000;
  --color-text-dark: #ffffff;
  --color-placeholder-light: #727272;
  --color-placeholder-dark: #cccccc;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.dark-mode {
  background: var(--color-bg-dark);
  color: var(--color-text-dark);
}

/* TIPOGRAF�A */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
}

/* FORMULARIOS */
label {
  color: var(--color-text-light);
}

input[type="email"], input[type="text"], input[type="password"], select, textarea {
  border-radius: 5px;
  padding: 10px;
  outline: none;
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
  border: 1px solid var(--color-placeholder-light);
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  background-color: var(--color-bg-light);
  border-color: var(--color-text-light);
  color: var(--color-text-light); /* Asegura que el texto sea visible mientras se escribe */
}

input[type="email"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder, textarea::placeholder, select::placeholder {
  color: var(--color-placeholder-light);
}

.dark-mode label {
  color: var(--color-text-dark);
}

.dark-mode input[type="email"], .dark-mode input[type="text"], .dark-mode input[type="password"], .dark-mode select, .dark-mode textarea {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
}

.dark-mode input[type="email"]:focus, .dark-mode input[type="text"]:focus, .dark-mode input[type="password"]:focus, .dark-mode textarea:focus, .dark-mode select:focus {
  background-color: var(--color-bg-dark);
  border-color: var(--color-text-dark);
  color: var(--color-text-dark); /* Asegura que el texto sea visible mientras se escribe */
}

.dark-mode input[type="email"]::placeholder, .dark-mode input[type="password"]::placeholder, .dark-mode input[type="text"]::placeholder, .dark-mode select::placeholder, .dark-mode textarea::placeholder {
  color: var(--color-placeholder-dark);
}

/* Ajustes espec�ficos para select en modo oscuro */
.dark-mode select {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
}

.dark-mode select:focus {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border-color: var(--color-text-dark);
}

/* SELECCI�N DE TEXTO */
*::selection {
  background: rgb(24, 109, 255);
  color: white;
}

/* COMPONENTES PRIMENG */
.p-dropdown-items {
  padding-left: 0 !important;
}

.btn .disabled {
  border-color: none !important;
}

.p-tabview-nav-link {
  text-decoration: none;
}

.p-progress-spinner-circle {
  stroke: #186DFF !important;
}

.p-steps-title, .ng-star-inserted {
  text-decoration: none !important;
}

/* Ajustes espec�ficos para select en modo oscuro */
.dark-mode select {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
}

.dark-mode select:focus {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border-color: var(--color-text-dark);
}

/* Estilos para PrimeNG Dropdown */
.dark-mode .p-dropdown {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
  display: flex!important;
  width: 100%;
  outline: none;
  
}

.dark-mode .p-dropdown .p-dropdown-label {
  color: var(--color-text-dark);
}

.dark-mode .p-dropdown .p-dropdown-panel {
  background-color: #1b1a1a; /* Fondo oscuro s�lido */
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
}

.dark-mode .p-dropdown .p-dropdown-item {
  color: var(--color-text-dark);
  background-color: #1b1a1a; /* Fondo oscuro s�lido */
}

.dark-mode .p-dropdown .p-dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Asegura un buen contraste */
  color: var(--color-text-dark);
}

/* Ajustes espec�ficos para PrimeNG Dropdown */
.dark-mode .p-dropdown {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
  display: block; /* Asegura que se comporte como bloque */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.dark-mode .p-dropdown .p-dropdown-label {
  color: var(--color-text-dark);
}

.dark-mode .p-dropdown .p-dropdown-panel {
  background-color: #333; /* Fondo oscuro s�lido */
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
}

.dark-mode .p-dropdown .p-dropdown-item {
  color: var(--color-text-dark);
  background-color: #333; /* Fondo oscuro s�lido */
}

.dark-mode .p-dropdown .p-dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Asegura un buen contraste */
  color: var(--color-text-dark);
}

/* Estilos para el input de b�squeda dentro del p-dropdown */
.dark-mode .p-dropdown .p-dropdown-filter-container {
  background-color: #333; /* Fondo oscuro s�lido */
}

.dark-mode .p-dropdown .p-dropdown-filter {
  background-color: #333; /* Fondo oscuro s�lido */
  color: var(--color-text-dark);
  border: 1px solid var(--color-placeholder-dark);
}

.dark-mode .p-dropdown .p-dropdown-filter::placeholder {
  color: var(--color-placeholder-dark);
}

/* Selecci�n de texto */
*::selection {
  background: rgb(24, 109, 255);
  color: white;
}

/* Asegurar que los elementos de formularios est�n alineados correctamente */
.form-group {
  display: flex;
  flex-direction: column;
}

input, select, textarea, .p-dropdown {
  margin-bottom: 1rem; /* Espacio debajo de cada elemento del formulario */
}

label {
  margin-bottom: 0.5rem; /* Espacio debajo de cada etiqueta */
}