/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
  --color-bg-light: #ffffff;
  --color-bg-dark: linear-gradient(180deg,

  rgba(21,22,23,0.98) 0%,
  rgb(29, 29, 29) 40%,
  rgba(19, 19, 19, 0.99) 50%,
  rgb(21, 21, 21) 60%,
  rgba(21,22,23,1) 100%

  );
  --color-text-light: #000000;
  --color-text-dark: #ffffff;
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.dark-mode {
  background: var(--color-bg-dark);
  color: var(--color-text-dark);
}

*::selection {
  background: rgb(255, 98, 26);
  color:white;
}
