/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "assets/scss/app.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";

.alert.inverse .feather-icon{
    padding: 17px 28px;
    display: inline-block;
    background-color: #6362e7;
    color: #fff;
    border-radius: 3px 0 0 3px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  
  .alert.inverse .feather-icon i{
    left: 20px;
    height: 14px;
    position: absolute;
    top: 16px;
    margin-right: 0px;
    vertical-align: middle;
  }
  
  .alert.inverse .feather-icon ~ p {
    padding-left: 20px;
  }

  .alert.inverse.alert-secondary .feather-icon{
    background-color: #ffc500;
    color: #fff;
  }

  .alert.inverse.alert-success .feather-icon{
    background-color: #7dc006;
    color: #fff;
  }

  .alert.inverse.alert-info .feather-icon{
    background-color: #1d97ff;
    color: #fff;
  }

  .alert.inverse.alert-warning .feather-icon{
    background-color: #ff8819;
    color: #fff;
  }

  .alert.inverse.alert-danger .feather-icon{
    background-color: #e52727;
    color: #fff;
  }

  .alert.inverse.alert-light .feather-icon{
    background-color: #f4f4f4;
    color: #000;
  }

  .alert.inverse.alert-dark .feather-icon{
    background-color: #2c323f;
    color: #fff;
  }


body .dark-only .ng-value-label.ng-star-inserted {
    color: #f4f4f4 !important;
  }

body .dark-only .ng-select .ng-select-container .ng-value-container .ng-input>input {
    caret-color: #f4f4f4 !important;
  }

body .dark-only .text-secondary{
  color: #f4f4f4 !important;
}

  .swal2-textarea.placeholder-color::-webkit-input-placeholder {
    color: #343a40 !important;
    opacity: 1 !important;
  }

  body .dark-only .page-wrapper .default-according .card .btn-link.style-color {
    border: 1px solid #6362e7!important;
    border-bottom: none!important;
  }

  body .dark-only{
    .owl-carousel.owl-theme{
      .owl-nav{
        .owl-prev, .owl-next{
          &:hover{
            i{
              color: rgba(255, 255, 255, 0.9);
              transition: color 0.3s ease-out;
            }
          }
        }
      }
    }
  }



  .owl-carousel.owl-theme{
    .owl-nav{
      position: absolute;
      top: 18%;
      left: 0;
      right: 0;
      padding: 0;
      .owl-prev, .owl-next {
        position: absolute;
        height: 100px;
        color: inherit;
        background: none;
        border: none;
        z-index: 100;
        display: flex;
        align-items: center;

        &:hover{
          i{
            color: #526069;
            transition: color 0.3s ease-out;
          }
          
        }
  
        i {
          display: inline-block; /* Asegura que el elemento puede ser escalado */
          height: 50px; /* Altura deseada */
          color: #98a6ad;
          font-size: 3rem;
          transition: color 0.3s ease-out;
          
        }
      }
      .owl-prev{
        left: -33px;
      }
      .owl-next{
        right:-33px;
      }
    }
  }
