<div class="container">
  <ng-container>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h5 *ngIf="!archivoCargado" class="card-title text-center mt-4">Cargar Hoja de Vida</h5>
        <div class="card">
          <div class="card-body">
            <div *ngIf="load">
              <div class="d-flex justify-content-center align-items-center" style="height: 220px;">
                <div class="spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </div>
            <div *ngIf="load" class="text-center mt-3">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Verificando...</span>
              </div>
              <p class="mt-2">Verificando...</p>
            </div>
            <div *ngIf="archivoCargado" class="text-center mt-3">
              <div class="d-flex flex-column align-items-center">
                <i class="fas fa-check-circle fa-5x text-success mb-3"></i>
                <div class="alert alert-success" role="alert">
                  Hoja de vida cargada correctamente.
                </div>
              </div>
            </div>
            <div *ngIf="!load && !archivoCargado && !fileError">
              <p class="text-danger fw-bold text-center">El archivo no existe. Por favor, cárguelo para continuar.</p>
              <div class="card mb-4 mb-xl-2">
                <div class="card-body">
                  <label for="fileElem" id="drop-area" class="border rounded d-flex justify-content-center align-items-center bg-gray" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
                    <div class="text-center">
                      <i class="bi bi-cloud-arrow-up-fill text-primary"></i>
                      <p class="mt-2">Arrastra aquí o haz clic para seleccionar archivos PDF.</p>
                    </div>
                    <input type="file" id="fileElem" (change)="onFileChange($event)" accept=".pdf" class="d-none">
                  </label>
                  <div class="" *ngIf="file">
                    <p>{{ file[0].name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
