.footer {
  background-color: rgb(30, 30, 37);
  bottom: 0;
}

.footer-line {
  color: white!important;
  background-color: rgb(20, 20, 25)!important;
  a {
    color: white!important;
    text-decoration: none;
  }
}
