<h1 class="text-center fw-bold my-4">Bienvenido/a</h1>

<!-- CARRUSEL DE IMAGENES -->

<div id="carouselExampleFade" class="carousel slide carousel-fade border-rounded">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img/istockphoto.jpg" class="d-block img-custom" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/istockphoto-1.jpg" class="d-block img-custom" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/img/istockphoto-2.jpg" class="d-block img-custom" alt="...">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- PREGUNTAS PREDETERMINADAS SIN LOGUEARSE -->
<section id="preguntas">
  <div class="table-responsive">
    <div class="container">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center fw-bold">Pregunta</th>
            <th class="text-center fw-bold">Acción</th>
          </tr>
        </thead>
        <tbody class="container">
          @for (pregunta of preguntas; track pregunta.pregunta) {
          <tr>
            <td class="text-center">{{ pregunta.pregunta }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</section>
